In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2021-09-23 19:42:12,41.3712,-73.4140,79.48,81,90,3.00
1,1,Luangwa,ZM,2021-09-23 19:42:13,-15.6167,30.4167,70.00,63,5,4.63
2,2,Aborlan,PH,2021-09-23 19:42:13,9.4352,118.5492,77.83,84,95,4.36
3,3,Yining,CN,2021-09-23 19:42:13,29.0361,114.5636,74.43,86,50,1.90
4,4,Saint-Philippe,RE,2021-09-23 19:42:14,-21.3585,55.7679,69.35,76,38,11.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the 
#heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind  = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2021-09-23 19:42:12,41.3712,-73.4140,79.48,81,90,3.00
1,1,Luangwa,ZM,2021-09-23 19:42:13,-15.6167,30.4167,70.00,63,5,4.63
2,2,Aborlan,PH,2021-09-23 19:42:13,9.4352,118.5492,77.83,84,95,4.36
3,3,Yining,CN,2021-09-23 19:42:13,29.0361,114.5636,74.43,86,50,1.90
6,6,Albany,US,2021-09-23 19:40:55,42.6001,-73.9662,79.63,71,100,14.14
7,7,Olinda,BR,2021-09-23 19:42:06,-8.0089,-34.8553,80.33,69,20,11.50
11,11,Dambulla,LK,2021-09-23 19:42:15,7.8600,80.6517,77.02,75,93,9.15
13,13,Arraial Do Cabo,BR,2021-09-23 19:38:47,-22.9661,-42.0278,71.56,56,75,12.66
16,16,Butaritari,KI,2021-09-23 19:42:17,3.0707,172.7902,82.58,75,3,15.64
17,17,Kapaa,US,2021-09-23 19:42:17,22.0752,-159.3190,80.58,76,75,3.00

In [12]:
preferred_cities_df.count()

City_ID       275
City          275
Country       274
Date          275
Lat           275
Lng           275
Max Temp      275
Humidity      275
Cloudiness    275
Wind Speed    275
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names 
#along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", 
                                "Country", 
                                "Max Temp", 
                                "Lat", 
                                "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Bethel      US     79.48  41.3712  -73.4140
1           Luangwa      ZM     70.00 -15.6167   30.4167
2           Aborlan      PH     77.83   9.4352  118.5492
3            Yining      CN     74.43  29.0361  114.5636
6            Albany      US     79.63  42.6001  -73.9662
7            Olinda      BR     80.33  -8.0089  -34.8553
11         Dambulla      LK     77.02   7.8600   80.6517
13  Arraial Do Cabo      BR     71.56 -22.9661  -42.0278
16       Butaritari      KI     82.58   3.0707  172.7902
17            Kapaa      US     80.58  22.0752 -159.3190

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
        # Grab the first hotel from the results and store the name.
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyDJRr4ug-56evhYDGeMEhL5Peb7eKYMQRQ',
 'location': '13.3087,7.156'}

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bethel,US,79.48,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Luangwa,ZM,70.00,-15.6167,30.4167,Gerasimos Safari Lodge
2,Aborlan,PH,77.83,9.4352,118.5492,Kevina Transient House
3,Yining,CN,74.43,29.0361,114.5636,Xiushui Hotel
6,Albany,US,79.63,42.6001,-73.9662,
7,Olinda,BR,80.33,-8.0089,-34.8553,Hotel Albergue de Olinda
11,Dambulla,LK,77.02,7.8600,80.6517,Tinaya Treats
13,Arraial Do Cabo,BR,71.56,-22.9661,-42.0278,Pousada Porto Praia
16,Butaritari,KI,82.58,3.0707,172.7902,Isles Sunset Lodge
17,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))