In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-09-22 17:51:55,-21.3585,55.7679,69.39,77,39,11.68
1,1,Tuktoyaktuk,CA,2021-09-22 17:52:34,69.4541,-133.0374,37.40,70,90,14.97
2,2,Ushuaia,AR,2021-09-22 17:51:33,-54.8000,-68.3000,56.86,51,75,3.44
3,3,Ancud,CL,2021-09-22 17:48:22,-41.8697,-73.8203,58.42,87,100,14.88
4,4,Atuona,PF,2021-09-22 17:51:40,-9.8000,-139.0333,77.47,77,41,22.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the 
#heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind  = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2021-09-22 17:51:40,-9.8000,-139.0333,77.47,77,41,22.44
10,10,Laredo,US,2021-09-22 17:53:29,27.5064,-99.5075,81.84,29,90,14.97
13,13,Kahului,US,2021-09-22 17:47:40,20.8947,-156.4700,77.02,72,20,13.80
14,14,Kikwit,CD,2021-09-22 17:50:56,-5.0410,18.8162,79.32,60,91,1.43
17,17,Ternate,ID,2021-09-22 17:53:31,0.8000,127.4000,79.09,82,95,4.34
21,21,Albany,US,2021-09-22 17:51:04,42.6001,-73.9662,79.81,77,100,8.16
22,22,Hasaki,JP,2021-09-22 17:51:32,35.7333,140.8333,77.40,84,91,19.22
23,23,San Patricio,US,2021-09-22 17:53:33,28.0170,-97.5169,84.87,25,88,16.87
25,25,Morganton,US,2021-09-22 17:53:33,35.7454,-81.6848,78.94,91,90,3.00
26,26,Bonthe,SL,2021-09-22 17:53:34,7.5264,-12.5050,80.13,81,99,7.20

In [12]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names 
#along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", 
                                "Country", 
                                "Max Temp", 
                                "Lat", 
                                "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4         Atuona      PF     77.47  -9.8000 -139.0333
10        Laredo      US     81.84  27.5064  -99.5075
13       Kahului      US     77.02  20.8947 -156.4700
14        Kikwit      CD     79.32  -5.0410   18.8162
17       Ternate      ID     79.09   0.8000  127.4000
21        Albany      US     79.81  42.6001  -73.9662
22        Hasaki      JP     77.40  35.7333  140.8333
23  San Patricio      US     84.87  28.0170  -97.5169
25     Morganton      US     78.94  35.7454  -81.6848
26        Bonthe      SL     80.13   7.5264  -12.5050

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
        # Grab the first hotel from the results and store the name.
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyDJRr4ug-56evhYDGeMEhL5Peb7eKYMQRQ',
 'location': '33.6671,-93.5916'}

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,77.47,-9.8000,-139.0333,Villa Enata
10,Laredo,US,81.84,27.5064,-99.5075,La Posada Hotel
13,Kahului,US,77.02,20.8947,-156.4700,Maui Seaside Hotel
14,Kikwit,CD,79.32,-5.0410,18.8162,HOTEL PLACE YALABA
17,Ternate,ID,79.09,0.8000,127.4000,Grand Dafam Bela Ternate
21,Albany,US,79.81,42.6001,-73.9662,
22,Hasaki,JP,77.40,35.7333,140.8333,Hotel Sunrise Choshi
23,San Patricio,US,84.87,28.0170,-97.5169,"Motel 6 Sinton, TX"
25,Morganton,US,78.94,35.7454,-81.6848,Hampton Inn Morganton
26,Bonthe,SL,80.13,7.5264,-12.5050,Bonthe Holiday Village

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))